*{
    border:0;
    padding:0;
    margin:0;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100vh;
}

.div1{
    background-image: url(backup2.png);
    background-size: cover;
    background-attachment: fixed;
}

.div2{
    height: 900px;
    background-image: url(edu2.png);
    background-size: cover;
}

.div3{
    background-image: url(edu3.png);
    background-size: cover;
    background-attachment: fixed;
}

.div4{
    height: 200px;
    background-image: url(edu4.png);
    background-size: cover;
}
